.navbar.navbar-expand-lg.navbar-light{
background-color: blueviolet;
}
.nav-link{
	background-color:rgba(255, 255, 255, 0.5); font-size: 48px; color: #000000;
}
@media(max-width: 600px){
	.nav-link{
		font-size: 35px
	}
}